@import url(https://fonts.googleapis.com/css2?family=Lexend&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);
a {
  text-decoration: none;
}
body {
  background-color: #061417;
  color: #fff;
  font-family: Poppins;
}
p {
  font-size: 14px;
}
nav {
  padding: 20px 30px;
  position: fixed;
  top: 0;
  background-color: rgba(6, 20, 23, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-family: Lexend;
  left: 0;
  z-index: 999;
  right: 0;
  background-color: transparent;
}
nav a {
  float: right;
  color: #fff;
}
nav a i {
  font-size: 20px;
}
header {
  margin: 40px 20px 20px 30px;
}
.gradient-text {
    background: linear-gradient(to right, #FCFAE9, #DFE9FE);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 2.6rem;
    animation: colorChange 2.3s infinite;
}
@keyframes colorChange {
  0% {
    background: linear-gradient(to right, #FCFAE9, #DFE9FE);    
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: linear-gradient(to right, #DFE9FE, #DFE9FE);
    -webkit-background-clip: text;
    color: transparent;
  }    
  100% {
    background: linear-gradient(to right, #DFE9FE, #FCFAE9);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.grid {
  padding: 35px 0;
}
.item {
  padding: 4px 5px;
}
.social-icons {
  padding: 5px 10px;
  font-size: 17px;
  color: #34AFCB;
  border: 2px solid #34AFCB;
  border-radius: 22px;
  margin: 0 10px 0 0;
}

main {
  margin: 15px 25px;
}
main a {
  color: #808E91;
}
main p {
  color: #808E91;
  font-family: Rubik;
  font-weight: 500;
  line-height: 1.8em;
}
.avatar-container {
    display: inline-block;
    position: relative;
    border: 2px solid #34AFCB;
    padding: 10px;
    margin: 35px 5px 0px 5px;
}
.avatar-pic {
    width: 260px;
    display: block;
    border: none;
    margin: -25px 0 0 -25px;
}
.bounce {
  animation: bouncing 1s infinite;
  display: inline-block;
  text-align: center;
}


@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.block-container {
}
.block-1 {
    width: 250px;
    height: 250px;
    background-color: #0A1C20;
    position: relative;
    overflow: hidden;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.block-1:focus {
  
}
.block-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px; 
  background: linear-gradient(to bottom, rgba(76, 90, 93, 0.1), #4C5A5D);
}
.block-left::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(76, 90, 93, 0.1), #4C5A5D);
}
.block-right {
  position: relative;
  border-left: none; 
  border-right: none; 
  border-top: none;
  border-bottom: none;
}
.block-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px; 
  background: linear-gradient(to bottom, rgba(76, 90, 93, 0.1), #4C5A5D);
}
.block-right::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(76, 90, 93, 0.1), #4C5A5D);
}

.block-2 {
    width: 250px;
    height: 250px;
    background-color: #0A1C20;
    position: relative;
    overflow: hidden;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.block-2 p, .block-2 big {
  margin: 25px 0;
}
.block-2 big {
  display: block;
}
.block-3 {
    width: 250px;
    height: 20px;
    background-color: #0A1C20;
    position: relative;
    overflow: hidden;
    padding: 25px;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 0;
}
.block-3 h3 {
  font-weight: normal;
  font-size: 16px;
}
.block-left {
  position: relative;
  border-left: none; 
  border-right: none; 
  border-top: none;
  border-bottom: none;
}
.arrow-up i {
  display: inline-block;
  transform: rotate(45deg);
  font-size: 18px;
  margin-right: 5px;
}
.timeline {
  position: relative;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #4C5A5D;
  transform: translateX(-50%);
}
.timeline-item {
  position: relative;
  width: 50%;
  height: 10rem;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 50%;
  padding-left: 25px;
}

.timeline-item:before {
  content: '';
  position: absolute;
  top: 20px;
  right: -7.5px;
  width: 15px;
  height: 15px;
  background: #34AFCB;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item:nth-child(even):before {
  left: -7.5px;
  right: auto;
}
.timeline-item:nth-child(2):before {
  background: #34AFCB;
}

.timeline-item:nth-child(4):before {
  background: #34AFCB;
}
#work-block {
  display: none;
}
.qual-txt-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.qual-txt {
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  color: #A3AFB2;
  justify-content: center;
}
.qual-txt span {
  padding: 3px;
}
.timeline p {
  line-height: 1rem;
}
.timeline p:last-child {
  align-items: center;
  display: flex;
}
.timeline p i{
  font-size: 15px;
  padding-right: 5px;
}
footer {
  margin: 40px 20px;
}
footer hr {
  border: 1px solid #4C5A5D;
  width: 65%;
}
footer a {
  background: transparent;
  border: 1px solid rgb(255,255,255,0.2);
  padding: 15px 19px;
  color: #808E91;
  margin: 0 10px;
  border-radius: 30px;
}
@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     gap: 15px;
    justify-content: center;
    align-items: center;
  }
  .grid-item {
    padding: 0 20px;
  }
  .item {
    
  }
  .block-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 15px 10px;
  }
  header p {
    font-size: 0.53rem;
  } 
  p {
    font-size: 0.63em;
  }
}
.colored { color: #34AFCB; }
